<div class="nav">
    <a href="#" class="logo">
      <img src="#" alt="image" class="logo-img" />
    </a>
    <ul class="nav-list">
      <li class="nav-item active">
        <a routerLink="Dashboard"  class="nav-link">
          <i class="fas fa-tachometer-alt"></i>
          <span >Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="Devices"  class="nav-link">
          <i class="fas fa-desktop"></i>
          <span >Devices</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="Configuration" class="nav-link">
          <i class="fas fa-cogs"></i>
          <span >Configuration</span>
        </a>
      </li>
    </ul>
  </div>
