<header class="header">
    <div class="header-top">
      <button type="button" class="notifications">
        <i class="fas fa-bell"></i>
      </button>
      <button type="button" class="contacts">
        <i class="fas fa-question-circle"></i>
      </button>
      <button type="button" class="user">
        <img src="./img/photo.png" alt="image" class="user-photo"/>
      </button>
    </div>
    <div class="header-bottom">
      <span class="title">Home</span>
    </div>
  </header>
  <main class="main">
      <section class="section">
        content
      </section>
    </main>

